[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std/
[submodule "lib/protocol-v2"]
	path = lib/protocol-v2
	url = https://github.com/bgd-labs/protocol-v2
	branch = proof-of-reserve
[submodule "lib/aave-helpers"]
	path = lib/aave-helpers
	url = https://github.com/bgd-labs/aave-helpers
